  <footer class="element-dark-mode">
    <ul>
      <li><a class="footer-link-dark-mode" href="https://www.flaticon.com/free-icons/moon" title="moon icons">Moon icons created by Good Ware - Flaticon</a></li>
      <li><a class="footer-link-dark-mode" href="https://www.flaticon.com/free-icons/search" title="search icons">Search icons created by Royyan Wijaya - Flaticon</a></li>
      <li><a class="footer-link-dark-mode" href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Ilham Fitrotul Hayat - Flaticon</a></li>
    </ul>

    <p>
      Challenge by <a class="footer-link-dark-mode" href="https://www.frontendmentor.io/">Frontend Mentor</a>.
      Coded by <a class="footer-link-dark-mode" href="https://pacific-ridge-07308.herokuapp.com/">Ruben Ribeiro</a>.
    </p>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/index.js"></script>
</body>

</html>
