<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/images/favicon-32x32.png">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap" rel="stylesheet">

  <title>Frontend Mentor | REST Countries API with color theme switcher</title>
</head>

<body class="body-dark-mode">
  <header class="element-dark-mode">
    <p class="text-logo">Where in the world?</p>

    <button class="color-scheme-button element-dark-mode">
      <img class="moon-image" src="/images/moon-dark-mode.png" alt="Moon image">
      Dark Mode
    </button>
  </header>
